.About {
  background: $main-color url("../images/home-header.png") no-repeat top / 100%;
  overflow: hidden;
  min-height: 100vh;

  main {
    width: 85%;
    margin: 40px auto 100px;

    h1 {
      font-size: 24px;
      font-family: "Segoe_bold";
      margin-bottom: 32px;
    }

    section {
      background-color: #17123B;
      padding: 40px;
      display: grid;
      grid-gap: 40px;
      
      @media screen and (min-width: 992px) {
        grid-template-columns: 1fr 1fr;
      }
      
      @media screen and (min-width: 480px) {
        padding: 40px 80px;
      }

      h2 {
        font-family: "Segoe_bold";
        font-size: 20px;
        margin-bottom: 16px;
      }
    }
  }
}