.Top-nav {
  min-height: 120px;
  background-color: $main-color;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    font-size: 56px;

    span {
      color: $light-blue-color;
    }
  }

  .hamburger-menu {
    margin: 0 16px;
    order: 2;
    cursor: pointer;

    @media screen and (min-width: 892px) {
      display: none;
    }

    span {
      display: block;
      width: 24px;
      height: 3px;
      background-color: $white-color;

      &:not(:last-of-type) {
        margin-bottom: 4px;
      }
    }
  }

  input[type="checkbox"] {
    display: none;

    &:checked + .drop-down {
      transform: translateY(0);
    }
  }

  .drop-down {
    display: contents;

    ul {
      display: flex;
  
      li {
        &:not(:last-of-type) {
          margin-right: 24px;
        }
        &.active, &:hover {
          border-bottom: 1px solid $white-color;
        }
      }
    }
  
    .search-input {
      position: relative;
  
      input {
        height: 40px;
        border-radius: 10px;
        width: 380px;
        padding: 0 8px;
        border: 0;
        outline: 0.001px;
        font-size: 16px;
        color: $main-color;
  
        @media screen and (max-width: 1192px) {
          width: 200px;
        }
  
        &::placeholder {
          opacity: 0.46;
        }
      }
  
      img {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    @media screen and (max-width: 891px) {
      display: block;
      transform: translateY(-1000px);
      position: absolute;
      top: 120px;
      left: 0;
      background-color: rgba($color: $main-color, $alpha: 0.7);
      width: calc(100% - 32px);
      padding: 16px;
      transition: all 0.3s ease-in-out;

      ul {
        display: block;

        li {
          width: max-content;
          margin-bottom: 8px;
        }
      }

      .search-input {
        img {
          right: unset;
          left: 184px;
        }
      }
    }
  }


  .register-btns {
    display: flex;

    button {
      background-color: $light-blue-color;
      border-radius: 10px;
      border: 0;
      height: 40px;
      padding: 0 8px;
      font-size: 16px;

      &.login-btn {
        margin-right: 16px;
        background-color: transparent;
      }
    }
  }

  .user-info {
    display: flex;
    align-items: center;
    font-family: "Segoe_bold";

    img {
      border-radius: 50%;
      width: 64px;
      height: 64px;
      object-fit: cover;
      margin-right: 16px;
    }
  }
}